{% load static %}
{% load i18n %}
<html>
<head>
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <link rel="stylesheet" href="{% static "css/font-awesome-4.3.0/css/font-awesome.css" %}"/>
    <link rel="stylesheet" href="{% static "/css/semantic.css" %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

</head>
<body>
<header>
    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
            <a href="/" class="item">
                {% blocktrans %}Página inicial{% endblocktrans %}
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'gameapp:criar-post' %}" class="item">
                    {% blocktrans %}Criar Postagem{% endblocktrans %}
                </a>
            {% endif %}
            <a href="{% url 'gameapp:postagens' %}" class="item">
                {% blocktrans %}Ver todos os posts{% endblocktrans %}
            </a>
            <div class="direita">
                {% if user.is_authenticated %}
                    <a href="{% url 'gameapp:edita-usuario' user.id %}" class="item"><i class="user icon"></i>{% blocktrans %}Editar{% endblocktrans %}
                        {% blocktrans %}Perfil{% endblocktrans %}</a>
                    <a href="/logout/" class="item"><i class="sign out icon"></i>{% blocktrans %}Sair{% endblocktrans %}</a>
                {% endif %}
                {% if user.is_anonymous %}
                    <a href="/cad_usuario/" class="item"><i class="add user icon"></i>{% blocktrans %}Criar Conta{% endblocktrans %}</a>
                    <a href="/login/" class="item"><i class="sign in icon"></i>{% blocktrans %}Entrar{% endblocktrans %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<article class="ui internally celled grid">
    <div class="three wide column"></div>
    <div class="ten wide column cor">
        {% block content %}
        {% endblock %}
    </div>
</article>
<footer>
    <div class="ui inverted segment">
        <div class="ui inverted secondary center">
            <p>Desenvolvido por mim</p>
            <div class="ui grid"><div class="seven wide column"></div>{% include 'language_selector.html' %}</div>
        </div>
    </div>
</footer>
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "css/semantic.min.js" %}"></script>
</body>
</html>