{% extends "base.html" %}
{% load i18n %}

{% block title %} Login  {% endblock %}

{% block content %}
    <div class="ui grid form">
        <div class="four wide column"></div>
        <div class="eight wide column column login">
            <h2 class="ui image header">
                <div class="content">
                    {% blocktrans %}Coloque seu cadastro abaixo{% endblocktrans %}
                </div>
            </h2>
            <form method="POST" class="ui small form" action="{% url 'gameapp:login' %}">
                {% csrf_token %}
                <div class="ui stacked secondary  segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>

                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="ui red pointing label">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password }}
                            {% if form.password.errors %}
                                <div class="ui red pointing label">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button">Login</button>
                </div>

            </form>

            <div class="ui message">
                {% blocktrans %}Não possui conta?{% endblocktrans %} <a href="/cad_usuario/">{% blocktrans %}Registre-se{% endblocktrans %}</a>
            </div>
        </div>
    </div>

{% endblock %}