{% extends "base.html" %}
{% load i18n %}

{% block title %} Logout  {% endblock %}

{% block content %}
    <meta http-equiv="refresh" content="3; url=/"/>
    <div class="three wide column"></div>
    <article class="six wide column">

        <div class="ui negative message">
            <div class="header">{% blocktrans %}Você saiu{% endblocktrans %}</div>
            <p>{% blocktrans %}Em alguns segundos será redirecionado para a tela inicial.{% endblocktrans %}</p>
        </div>

    </article>
{% endblock %}