{% extends "base.html" %}
{% load i18n %}

{% block title %} GameBlog  {% endblock %}

{% block content %}

    <div class='ui grid form' style="padding-top: 50px;">
        <div class='row'>
            <div class='three wide column'>
            </div>
            <div class='ten wide column'>
                <h2 class='ui header'>
                    <i class="archive icon"></i>{% blocktrans %}Postagens{% endblocktrans %}
                </h2>
                <div class="ui fluid form margem list rolagem">
                    <table class="ui table">
                        <thead>
                        <tr>
                            <th>{% blocktrans %}Título{% endblocktrans %}</th>
                            <th>{% blocktrans %}Pessoa{% endblocktrans %}</th>
                            <th>{% blocktrans %}Visualizar{% endblocktrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in object_list %}
                            <tr>
                                <td>{{ post.titulo }}</td>
                                <td>{{ post.usuario }}</td>
                                <td><a href="{% url 'gameapp:ver-post' post.id %}"><i class="arrow right icon"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}