{% extends "base.html" %}
{% load i18n %}

{% block title %} GameBlog  {% endblock %}

{% block content %}
    <div class="ui grid form" style="padding-top: 50px;">
        <div class="five wide column"></div>
        <div class="eight wide column aligned center">
            <table class="ui table">
                <thead>
                <tr>
                    <th>{% blocktrans %}Usuário{% endblocktrans %}</th>
                    <th>{% blocktrans %}Jogo favorito{% endblocktrans %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ post.usuario }}</td>
                    <td>{{ post.usuario.jogo }}</td>
                </tr>
                </tbody>
            </table>
        <div class="centro" style="">
            <label>{% blocktrans %}Título{% endblocktrans %}</label>
        </div>
                <table class="ui celled table">
                    <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:middle;">{{ post.titulo }}</td>
                    </tr>

                    </tbody>
                </table>

            <table class="ui celled table">
                <tbody>
                <tr>
                    <td>{{ post.texto }}</td>
                </tr>

                </tbody>
            </table>
            {% if post.usuario.id == user.id %}
                <a href="{% url 'gameapp:criar-post' post.id %}" class="item">
                    <button> {% blocktrans %}Editar{% endblocktrans %}</button>
                </a>
            {% endif %}
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'gameapp:curtir-post' post.id %}">
                    <button type="submit">
                        {% csrf_token %}
                        <i class=" thumbs outline up icon blue"></i>{{ post.curtidas }}</button>
                </form>
            {% else %}
                <i class=" thumbs outline up icon blue"></i>{{ post.curtidas }}
            {% endif %}
        </div>
    </div>

    <div class="ui grid form comments margem">
        <div class="five wide column"></div>
        <div class="eight wide column">
            <h3 class="ui dividing header">{% blocktrans %}Comentarios{% endblocktrans %}</h3>
            <div class="comment">
                {% for comentario in comentarios %}
                    <div class="content margem">
                        <table class="ui celled table">
                            <tbody>
                            <tr>
                                <td>
                                    <a class="author">{{ comentario.usuario.first_name }}</a>
                                    <div class="metadata">
                                        <span class="date">{{ comentario.date }}</span>
                                    </div>
                                    <div class="text">
                                        {{ comentario.comentario }}
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="actions">

                                            <form method="POST"
                                                  action="{% url 'gameapp:curtir-comentario' comentario.id %}">
                                                {% csrf_token %}
                                                <button type="submit">
                                                    <i class=" thumbs outline up icon blue"></i>{{ comentario.like }}
                                                </button>
                                            </form>

                                            </button>
                                        </div>
                                    {% else %}

                                        <i class=" thumbs outline up icon blue"></i>{{ comentario.like }}

                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'gameapp:cadastrar-comentario' post.id %}"
                      class='margem ui reply form'>
                    {% csrf_token %}
                    <div class="field">
                        <label>{% blocktrans %}Comentario{% endblocktrans %}</label>
                        {{ comentar.comentario }}
                        {% if form.comentario.errors %}
                            <div class="ui red pointing label">
                                {{ form.comentario.errors }}
                            </div>
                        {% endif %}

                    </div>

                    <button type="submit" class="ui blue labeled submit icon button">
                        <i class="icon edit"></i> {% blocktrans %}Comentar{% endblocktrans %}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}